#lcp-container-wrapper{
    container-type: inline-size;
    container-name: lc_container;
}

#lcp-container{
    direction: rtl;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    padding: 56px;
    border: 1px solid #74797f;
    border-radius: 40px;
    white-space: wrap;
    max-width: 100%;
}

#lcp-form{
    width: 50%;
}

#lcp-form{
    display: flex;
    flex-direction: column;
}

/*** result section ***/

.lcp-result{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 56px;
}

.lcp-result-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lcp-result-row p:last-of-type{
    font-size: 14px;
}

.lcp-result-row span{
    font-size: 20px;
    font-weight: bolder;
}

/*** range input attr ***/

.lcp-label-input{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
}

.lcp-label-input label{
    font-size: 26px;
    font-weight: bolder;
}

.lcp-label-input span{
    font-weight: bolder;
}

.lcp-range-input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
}

.lcp-range-input input{
    width: 100%;
    border-radius: 5px;
}

.error_span{
    color: red;
}

.range_span{
    display: flex;
    justify-content: space-between;
}

.range_span span{
    color: #44474e;
    font-size: 16px;
}

/*** radio input ***/

.lcp-options-container{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #e5f0ff;
    padding: 16px;
    border-radius: 32px;
}

.lcp-options-container>label{
    margin-bottom: 10px;
    font-size: 26px;
}

.lcp-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lcp-options input{
    display: none;
}

.lcp-options label{
    background-color: #f5faff;
    border-radius: 16px;
    cursor: pointer;
    margin: 0 5px;
    padding: 10px;
    width: 100%;
}

.lcp-options-container label:has(input:checked){
    border: 1px solid #2d5da7;
}

.display_range{
    color: #2d5da7;
    white-space: nowrap;
    font-size: 16px;
}

.display_range span{
    font-size: 20px;
}

hr{
    width: 100%;
    background: #74797f;
}

/*** range inputs ***/

#lcp-form input[type='range']{
    appearance: none;
    -webkit-appearance: none;
    padding: 10px 0;
}

#lcp-form input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #2d5da7;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    margin-top: -9px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#lcp-form input[type='range']:hover::-webkit-slider-thumb{
    box-shadow: 0 0 0 4px #2d5ea75c;
}

#lcp-form input[type='range']::-webkit-slider-runnable-track{
    background: #ccc;
    height: 2px;
}

#lcp-form input[type='range']::-moz-range-thumb{
    -moz-appearance: none;
    background-color: #2d5da7;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    margin-top: -9px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#lcp-form input[type='range']::-moz-range-track{
    background: #ccc;
    height: 2px;
}

#lcp-form input[type='range']:hover::-moz-range-thumb{
    box-shadow: 0 0 0 4px #2d5ea75c;
}

#lcp-form input[type='range']::-moz-range-progress{
    background: #2d5da7;
}

/*** responsive ***/

@container lcp_container (max-width: 826px){
    #lcp-container{
        padding: 10px;
        font-size: 16px;
    }

    .lcp-result{
        margin-right: 20px;
    }

    .lcp-result-row p:last-of-type{
        font-size: 12px;
    }

    .lcp-label-input label{
        font-size: 20px;
    }

    .lcp-result-row span{
        font-size: 16px;
        font-weight: bolder;
    }

    .range_span span{
        font-size: 10px;
    }

    .display_range{
        font-size: 12px;
    }

    .display_range span{
        font-size: 16px;
    }
}

@container lcp_container (max-width: 500px){
    #lcp-container{
        flex-direction: column;
        padding: 24px 16px;
    }

    .lcp-result{
        width: 100%;
        margin-right: 0;
        margin-top: 30px;
    }

    #lcp-form{
        width: 100%;
    }
}